#play-match{
    min-height: 100vh;
    padding: 40px 100px;
    background: #173F5F;
}
#play-match h2{
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 3em;
    text-align: center;
    color: #fff;
}
#play-match .container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#play-match .container .vsBx{
    position: relative;
    width: 700px;
    height: 400px;
    background: url(../../../assets/images/vs.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}

#play-match .container .btns{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 80px;
    
}
#play-match .container .btns button{
    position: relative;
    display: inline-block;
    margin: 0 20px;
    padding: 10px 30px;
    color: rgba(255,255,255, 0.8);
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #20639B;
    transition: 0.5s;
}

#play-match .container .btns button span{
    position: relative;
    font-size: 16px;
    color: rgba(255,255,255, 0.5);
    
}

#play-match .container .btns button:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    transform: translateY(-2px);
}

#play-match .container .vsBx{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#play-match .container .vsBx .home,
#play-match .container .vsBx .opponent{
    position: relative;
    max-width: 300px;
    

}

#play-match .container .vsBx .home h2,
#play-match .container .vsBx .opponent h2{
    position: relative;
    color: rgba(255,255,255,0.8);
    font-size: 2em;
    font-weight: 700;
}

#play-match .container .vsBx .opponent h2 {
    margin-left: 50px;
}

#play-match .container .vsBx .home h3,
#play-match .container .vsBx .opponent h3{
    position: relative;
    font-size: 4em;
    text-align: center;
    color: rgba(255,255,255,0.5);
}

#play-match .container .vsBx .date{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#play-match .container .vsBx .date h2{
    font-size: 1.8em;
    color: rgba(255,255,255,0.5);
}