<section id="home">
    <header>
        <a href="#" class="logo"><img src="../../../assets/images/logo-design.png"></a>
        <nav>
            <div id="marker"></div>
            <a href="#home">Home</a>
            <a href="#point-table">Point Table</a>
            <a href="#play-match">Play Match</a>
            <a href="#matches">Matches</a>
        </nav>
    </header>
    <div class="banner">
        <div class="detailBox">
            <div class="textBox">
                <p>The Premier League is the top tier of England's football pyramid, with 20 teams battling 
                    it out for the honour of being crowned English champions.<br><br>
                Home to some of the most famous clubs, players, managers and stadiums in world football, the Premier
                 League is the most-watched league on the planet 
                with one billion homes watching the action in 188 countries.
                </p>
                <a href="#play-match">Play Match</a>
            </div>
        </div>
        <div class="imgBox">
            <img src="../../../assets/images/mainPlayer.png">
        </div>
    </div>
</section>
